.fade {
  opacity: 0;
  transition: 0.3s;
  animation: fadeLast 0.4s 1;
}

.loading-container {
  animation: fadeFirst 0.4s 1;
}

@keyframes fadeFirst {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeLast {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3182ce;
  border-color: #3182ce transparent #3182ce transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
